
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,500i,600,600i,700,700i,800,800i,900,900i');


$white: #fff;
$blue: #438afe;
$grey: #292929;

$duration: 0.5s;
$delay: 0.2s;
$color: coral;

body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
}

//buttons

.btn-blue{
    background-color: $blue;
    color: $white;
    &:hover{
        background-color: darken($blue, 10%);
        color: $white;
    }
}

//navbar

.navbar-transparent{
    background-color: $white;
    border: none;
    margin-bottom: 0;
}
.landingnav{
.navbar-center{
    padding-left: 200px;
}
#login-dp{
    min-width: 265px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color: $white;
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
.ss-form-control{
    width: 100%;
    padding: 5px;
    margin: 5px 0px 0px 0px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    .navbar-center{
        padding-left: 0px;
    }
}
@media(max-width: 1200px){
    .navbar-center{
        padding-left: 75px;
    }
}
@media(max-width: 400px){
    .navbar-center{
        padding-left: 0px;
    }
}
}
.homepage{
    margin-top: 20px;
    .sb_left{
        h4{
            padding:10px;
            text-transform: uppercase;
            background-color: $blue;
            color: $white;
            border-bottom: 1px solid $grey;
            text-align: left;
            border-radius: 10px 10px 0px 0px;
            font-size: 12px;
            font-weight: 300;
        }
        .quick-links{
            -webkit-box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
            -moz-box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
            box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
            background-color: $white;
            padding: 10px 20px 0px 20px;
            font-size: 13px;
            ul{
                padding-left: 0px;
                list-style: none;
                display: inline-block;
                min-width: 100%;
                li{
                    display: block;
                    padding: 5px 0px 5px 0px;
                    border-bottom: 1px solid lighten($grey, 70%);
                    min-width: 100%;
                    &:last-of-type{
                        border: none;
                    }
                    i{
                        display: inline-block;
                        margin-right: 10px;
                        color: $blue;
                    }
                    a{
                        font-weight: 400;
                        color: $grey;
                    }
                    span{
                        float: right;
                        background-color: $blue;
                    }
                }
            }
        }
        .invite{
            padding: 0px 20px 0px 20px;
            -webkit-box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
            -moz-box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
            box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
            background-color: $white;
            margin-top:15px;
            i{
                display: inline-block;
                margin-right: 5px;
                margin-left: 15px;
            }
            h3{
                display: inline-block;
                font-weight: 400;
                font-size: 14px;
                text-transform: uppercase;
                text-align: center;

            }
            .line{
                border-bottom: 1px solid lighten($grey, 70%);
                min-width: 100%;
            }
            p{
                margin-top: 10px;
                font-weight: 300;
                text-align: center;
            }
            i.ico{
                text-align: center;
                width: 100%;
                color: $blue;
                padding: 15px 0px 15px 0px;
                margin: 0;
            }
            form{
                input[type="text"]{
                    width: 100%;
                    margin-bottom: 10px;
                    border-radius: 5px;
                    outline: 0;
                    padding: 5px;
                    border: 1px solid lighten($grey, 70%);
                }
                input[type="submit"]{
                    background-color: $blue;
                    color: $white;
                    min-width: 100%;
                    outline: 0;
                    border-radius: 5px;
                    border: 1px solid lighten($blue, 70%);
                    margin-bottom: 10px;
                    &:hover{
                        background-color: $white;
                        color: $blue;
                        border: 1px solid $blue;
                    }
                }
            }
        }
        .product{
            padding: 0px 20px 0px 20px;
            -webkit-box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
            -moz-box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
            box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
            background-color: $white;
            margin-top:15px;
            i{
                display: inline-block;
                margin-right: 5px;
                margin-left: 15px;
            }
            h3{
                display: inline-block;
                font-weight: 400;
                font-size: 14px;
                text-transform: uppercase;
                text-align: center;

            }
            .line{
                border-bottom: 1px solid lighten($grey, 70%);
                min-width: 100%;
            }
            p{
                margin-top: 10px;
                font-weight: 300;
                text-align: center;
            }
            .blue{
                color: $blue;
            }
            input[type="button"]{
                width: 100%;
                background-color: $blue;
                color: $white;
                border-radius: 5px;
                outline: 0;
                border: 1px solid lighten($blue, 30%);
            }
            img{
                width: auto;
                text-align: center;
                margin-left: 30%;
                padding: 10px;
                height: 300px;
            }
        }

    }
    .home-main{
        .featured-spot{
            width: 100%;
            height: 300px;
            transition: box-shadow $duration;
            z-index: 1;
            h2{
                color: $white;
                font-weight: 200;
                position: absolute;
                padding-left: 15px;
                animation: 0.5s ease-in 0s 1 fadeInLeft;
                @keyframes fadeInLeft{
                    0%{

                        opacity: 0;
                        transform: translateX(-20%);
                    }
                    100%{
                        opacity: 1;
                        transform: translateX(0%);
                    }
                }
            }
            h5{
                color: $white;
                font-weight: 600;
                position: absolute;
                margin-top: 60px;
                padding-left: 15px;
                text-transform: uppercase;
                animation: 0.5s ease-in 0s 1 fadeInLeft;

            }
            .spot-type{
                position: absolute;
                top: 25px;
                right: 0px;
                background-color: $white;
                height: 30px;
                width: 130px;
                border-left: 3px solid $blue;
                p{
                    color: $grey;
                    margin-top: 5px;
                    text-align: center;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 14px;
                    animation: 0.5s ease-in 0s 1 fadeInLeft;
                }
            }
            .rating-system{
                position: absolute;
                bottom: 2px;
                padding-left: 15px;
                animation: 0.5s ease-in 0s 1 fadeInLeft;
                .star-ratings-css {
                  unicode-bidi: bidi-override;
                  color: $white;
                  font-size: 20px;
                  height: auto;
                  width: 100px;

                  position: relative;
                  padding: 0;
                  margin-left: 3px;

                }
                .star-ratings-css-top {
                  color: $blue;
                  padding: 0;
                  position: absolute;
                  display: block;
                  letter-spacing: 5px;
                  top: 0;
                  left: 0;
                  overflow: hidden;
                }
                .star-ratings-css-bottom {
                  padding: 0;
                  display: block;
                  letter-spacing: 5px;
                  z-index: 0;
                }
                p{
                    font-size: 10px;
                    color: $white;
                }
            }
            .bust-type{
                position: absolute;
                padding-left: 200px;
                width: 150px;
                bottom: 12px;
                h5{
                    display: block;
                    color: $white;
                    text-transform: uppercase;
                    margin: 0 auto;

                }
                p{
                    display: block;
                    color: $blue;
                    text-transform: uppercase;
                    margin: 0 auto;
                    padding-left: 15px;
                    padding-top: 15px;
                    animation: 0.5s ease-in 0s 1 fadeInLeft;
                }
            }
            .difficulty{
                position: absolute;
                padding-left: 250px;
                bottom: 12px;
                width: 150px;
                h5{
                    display: block;
                    color: $white;
                    text-transform: uppercase;
                    margin: 0 auto;
                }
                p{
                    color: red;
                    text-transform: uppercase;
                    margin: 0 auto;
                    padding-left: 15px;
                    padding-top: 15px;
                    animation: 0.5s ease-in 0s 1 fadeInLeft;
                }
            }
            img{
                width: 100%;
                height: 300px;
            }
        }
        .featured-spot:hover #fspotmain {
          transform: rotateY(180deg);
          box-shadow: 0 0 50px rgba(black, 0.1);
        }
        .featured-spot-container {
          perspective: 1000;
        }
        #fspotmain {
          width: 100%;
          height: 300px;
          transform-style: preserve-3d;
          transition: all 0.5s linear;
        }

        .featured-spot-right {
          position: relative;
          width: 100%;
          margin-bottom: 20px;
          height: 300px;
          z-index: 1;
          transition: box-shadow $duration;
          img{
              width: 100%;
              height: 300px;
          }
        }
        .featured-spot-right:hover #fspotright {
          transform: rotateY(180deg);
          box-shadow: 0 0 50px rgba(black, 0.1);
        }
        .featured-spot-right-container {
          perspective: 1000;
        }
        #fspotright {
          width: 100%;
          height: 300px;
          transform-style: preserve-3d;
          transition: all 0.5s linear;
        }

        .face {
          position: absolute;
          width: 100%;
          height: 300px;
          backface-visibility: hidden;
          h2{
              color: $white;
              font-weight: 200;
              position: absolute;
              padding-left: 15px;
              font-size: 1.4em;
              padding-top: 5px;
              animation: 0.5s ease-in 0s 1 fadeInLeft;
          }
          h5{
              color: $white;
              font-weight: 600;
              position: absolute;
              margin-top: 60px;
              padding-left: 15px;
              text-transform: uppercase;
              animation: 0.5s ease-in 0s 1 fadeInLeft;
          }

          .rating{
              position: absolute;
              bottom: 10px;
              padding-left: 15px;
               animation: 0.5s ease-in 0s 1 fadeInLeft;
              p{
                  position: absolute;
                  font-size: 13px;
                  color: $blue;
                  margin-top: 5px;
                  margin-left: 8px;
              }
              i{
                  color: $white;
              }
          }
          .bust-type{
              position: absolute;
              bottom: 40px;
              margin-left: 60px;
              width: 150px;
              h5{
                  display: block;
                  color: $white;
                  text-transform: uppercase;
                  margin: 0 auto;
              }
              p{
                  display: block;
                  color: $blue;
                  text-transform: uppercase;
                  position: absolute;
                  padding-left: 15px;
                  padding-top: 15px;
                  animation: 0.5s ease-in 0s 1 fadeInLeft;
              }
          }
          .difficulty{
              position: absolute;
              bottom: 40px;
              margin-left: 140px;
              width: 150px;
              h5{
                  display: block;
                  color: $white;
                  text-transform: uppercase;
                  margin: 0 auto;
              }
              p{
                  display: block;
                  color: red;
                  text-transform: uppercase;
                  position: absolute;
                  padding-left: 15px;
                  padding-top: 15px;
                  animation: 0.5s ease-in 0s 1 fadeInLeft;
              }
          }
        }
        .face.back {
          display: block;
          transform: rotateY(180deg);
          box-sizing: border-box;
          padding: 10px;
          color: black;
          text-align: center;
          background-color: $white;
          .desc{
              color: $grey;
              text-align: left;
          }
          .full-spot{
              width: 92%;
              background-color: $blue;
              padding: 3px;
              position: absolute;
              bottom: 5px;
              a{
                  color: $white;
                  text-decoration: none;
              }
          }
        }

        .top-spots{
            background-color: $blue;
            width: 100%;
            height: 300px;
            margin-bottom: 20px;
            padding: 0;
            overflow:hidden;
            transition: box-shadow $duration;
            img{
                background-color: $grey;
                width: 100%;
                height: 200px;
            }
            &:hover{
                box-shadow: 0 0 50px rgba(black, 0.3);
            }

        }
    }
}

.profilepage{
    margin-top: 15px;
    .profile-header{
        img{
            width: 100%;
            height: 300px;
            background-color: $blue;
            -webkit-box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
            -moz-box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
            box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
        }
        i{
            position: absolute;
            background-color: $blue;
            width: 25px;
            height: 25px;
            color: $white;
            text-align: center;
            padding:5px;

            bottom: 5px;
            right: 20px;
            border-radius: 25px;
        }
    }
    .profile-picture{
        width: 100%;
        height: 300px;
        padding: 50px;
        -webkit-box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
        box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
        background-color: $white;
        img{
            border: 5px solid $white;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
        }
        .profile-name{
            h5{
                text-align: center;
            }
        }
        .profile-location{
            h5{
                text-align: center;
            }
        }
        .profile-type{
            h5{
                text-align: center;
            }
        }
        i{
            position: absolute;
            background-color: $blue;
            width: 25px;
            height: 25px;
            color: $white;
            text-align: center;
            padding:5px;
            margin-top: 20px;
            margin-left: 120px;
            border-radius: 25px;
        }
    }
}

.landingpage{
    .hero{
        height: 100vh;
        width: auto;
        background: url("/images/landing/bg.jpeg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        h1{
            text-align: center;
            margin-top: 25%;
        }
        p{
            text-align: center;
            margin-top: 25px;
        }
    }
    .community{
        background-color: $blue;
        padding:50px;
    }
}

.adminpage{
    margin-top: 20px;
    .quick-links{
        -webkit-box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
        box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
        background-color: $white;
        padding: 10px 20px 0px 20px;
        font-size: 13px;
        ul{
            padding-left: 0px;
            list-style: none;
            display: inline-block;
            min-width: 100%;
            li{
                display: block;
                padding: 5px 0px 5px 0px;
                border-bottom: 1px solid lighten($grey, 70%);
                min-width: 100%;
                &:last-of-type{
                    border: none;
                }
                i{
                    display: inline-block;
                    margin-right: 10px;
                    color: $blue;
                }
                a{
                    font-weight: 400;
                    color: $grey;
                }
                span{
                    float: right;
                    background-color: $blue;
                }
            }
        }
    }
    .tab-pane{
        -webkit-box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
        box-shadow: -1px 4px 10px -2px rgba(0,0,0,0.1);
        background-color: $white;
        padding: 10px 20px 0px 20px;
        width: 100%;
        height: 300px;
    }
    .dashboard{
        .orange{
            background-color: orange;
        }
        .blue{
            background-color: $blue;
        }
        .purple{
            background-color: purple;
        }
        .green{
            background-color: green;
        }
        .dashboard-sq{
            width: 100%;
            height: 150px;
            border-radius: 5px;
            h5{
                color: $white;
                padding: 10px;
            }
            h3{
                color: $white;
                position: absolute;
                bottom: 0px;
                right: 25px;
            }
        }

    }
}
